Tests: opportunistic
Restrictions: needs-root, isolation-machine, needs-internet
Depends:
 dnsutils,
 iputils-ping,
 systemd,
 wget,
 @,

Tests: cryptocheck
Depends:
 libnss3-tools,
 @,

Tests: cavp
Restrictions: needs-internet
Depends:
 bzip2,
 diffutils,
 wget,
 @,
